html {
    box-sizing: border-box;
}
body {
    background-color: #222;
    color: white;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 250px;
    background-color: #eee;
    border-radius: 15px;
}
#input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#btn {
    /* padding: 0; */
    margin: 7px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}
#btn img {
    width: 18px;
}
form {
    text-align: center;
}
form input {
    margin: 7px 0;
    width: 160px;
    border: 1px solid black;
    background: transparent;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px 12px;
    font-size: 1rem;
    outline: none;
}
form button {
    width: 106px;
    margin: 7px 5.5px;
    font-size: 1rem;
    padding: 8px 12px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 3px;
    transition: 0.2s background-color;
    outline: none;
}
form button:hover {
    background-color: #aaa;
}
#content {
    color: black;
    font-size: 0.9rem;
}
